/*color*/
@white: #fff;
@black: #000;
@purple: #66C;
@orange: #F60;
@lightorange: #ff8800;
@red: #C00;
@lightred: #ff0066;
@blue: #00aaff;
@gray: #666;
@lightgray:#999;
@darkblue: #339;

/*font*/
@baseFontSize: 12px;
@baseLineHeight: 18px;
@baseFontColor:@black;
@baseFontFamily: 'tahoma,arial,\5b8b\4f53,sans-serif';
@priceFamily:'Helvetica, arial, sans-serif';

/*background color*/
@baseBGColor:@white;

/*link*/
@baseLinkColor:@purple;
@baseLinkHoverColor:@white;
@baseLinkHoverBGColor:@purple;


